.month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

.day {
    display: grid;
    height: 160px;
    width: 100%;
    border: 1px solid black;
    cursor: pointer;
}

.day-number {
    display: grid;
    justify-content: end;
    margin: 5px;
}