@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

body {
    font-family: 'Roboto';
}

html {
    background: #eeeeee
}

#names-of-days {
    width: 80%;
    margin-bottom: 20px
}

.remove {
    float: right;
    border-radius: 50%;
    background: #ff8334;
    width: 20px;
    color: white;
    text-align: center;
    margin-right: 20px;
    cursor: pointer;
}

.month {
    float: left;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 80%;
    margin-right: 10px;
    grid-gap: 10px;
}

.left-info-block {
    width: 17%;
    height: 700px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.7);
    float: left;
    -webkit-overflow-scrolling: touch;
    padding-left: 10px;
    padding-right: 20px;
    overflow-y: scroll;
}

.left-info-block p {
    width: 100%;
    border-radius: 20px;
    background: rgb(255, 200, 80);
    padding: 10px;
    padding-right: 0;
    
}

.left-info-block .todoToDo{
    width: 100%;
    border-radius: 20px;
    background: rgb(80, 170, 255);
    padding: 10px;
    padding-right: 0;
}

.tittleInDay {
    width: 100%;
    border-radius: 20px;
    font-size: 14px;
    padding-right: 10px;
    font-weight: 600;
}

.day {
    display: grid;
    height: 150px;
    width: 100%;
    cursor: pointer;
    justify-content: end;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.7)
}

.day-number {
    margin: 5px;
    height: 20px;
    width: 23px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s
}

.day .day-number{
    margin: 5px;
    height: 20px;
    width: 23px;
}

#todo{
    display:none;
    margin-top: 10px;
}

/* .tittleInDay {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #58e639;
} */

#inputTask {
    height: 20px;
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
    padding-left: 10px
}

#addTask {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 20px;
    padding: 10px;
    padding-top: 4px;
    padding-bottom: 19px;
    cursor: pointer;

}

#month-tittle,#infoOfDay {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 100 !important;
    font-weight: bold;
}
#month-tittle{
    display: inline-block;
    margin-top: 0px;
    cursor: pointer;
}

#infoOfDay {
    position: absolute;
    top: 25px;
    right: 25px;
}

ul#monsun {
    color: #979797;
    width: 100%;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}

ul#monsun li {
    justify-content: center;
    display: grid;
    margin: 5px;
}

.taskModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.taskModalContent {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    animation-name: modalshow;
    animation-duration: 1s; 
}

@keyframes modalshow{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#closeModalBtn {
    padding: 0;
    margin: 0;
    color: blueviolet;
    font-size: 20px;
}


.btn-group{
    margin-right: 20%;
    margin-top: 30px;
}

.btn-group span {
    border: 1px solid #bbbbbb;
    color: #bbbbbb;
    padding: 5px 20px; 
    cursor: pointer; 
    float: right; 
    background: rgba(255, 255, 255, 0.7);
}

.btn-group span:not(:last-child) {
    border-left: none; 
}

#nextMonth {
    border-radius: 0px 10px 0px 0px;
}

#prevMonth {
    border-radius: 10px 0px 0px 0px;
}

#prevMonth:active,
#nextMonth:active{
    box-shadow: 0 0 3px gray;
}

.listOfTask {
    padding: 10px;
    border-radius: 20px;
    background: #ffe040;
}

/* @media all and (max-width: 991px) {
    .month {
        width: 100%;
    }
    .day {
        height: 80px;
    }
    .left-info-block {
        width: 100%;
        height: 300px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #names-of-days {
        width: 100%;
    }
    #month-tittle {
        margin-top: 10px;
        margin-bottom: 60px;
    }
    #infoOfDay {
        position: absolute;
        top: 55px;
        right: 10px;
    }
} */

@media all and (max-width: 991px) {
    .month {
        width: 100%;
    }
    .day {
        height: auto;
    }
    .left-info-block {
        width: 100%;
        height: 300px;
        margin-top: 20px
    }
    #names-of-days {
        width: 100%;
    }
    #month-tittle {
        margin-top: 10px;
        margin-bottom: 60px;
    }
    .btn-group {
        margin-right: 0
    }
    #infoOfDay {
        position: absolute;
        top: 55px;
        right: 10px;
    }
}


@-webkit-keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
  
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
    }
  
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
  
    to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .bounceIn {
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
  }

  .colorOfDay{
    background-color: rgb(255, 243, 202);
  }
  

  @-webkit-keyframes bounceOutRight {
    20% {
      opacity: 1;
      -webkit-transform: translate3d(-20px, 0, 0);
      transform: translate3d(-20px, 0, 0);
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
      transform: translate3d(2000px, 0, 0);
    }
  }
  
  @keyframes bounceOutRight {
    20% {
      opacity: 1;
      -webkit-transform: translate3d(-20px, 0, 0);
      transform: translate3d(-20px, 0, 0);
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(2000px, 0, 0);
      transform: translate3d(2000px, 0, 0);
    }
  }
  
  .bounceOutRight {
    -webkit-animation-name: bounceOutRight;
    animation-name: bounceOutRight;
  }